/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* base style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  background-color: #fff;
  width: 870px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* Navbar Styles */
.nav-box {
  display: flex;
  justify-content: space-evenly;
}

/* Top players style  */
.top-players {
  margin-bottom: 30px;
}
.box-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* Top Blogs styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* Courses Styles */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course {
  width: 252px;
  height: 272px;
  background: #fff;
  border-radius: 13px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05);
}
.course-banner {
  padding-left: 14px;
}
.course-detail {
  margin: 0 15px;
}
.course-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.course-author {
  color: #ed6b4f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.course-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}
.course-info > div > span {
  padding-left: 5px;
}
.course-time {
  color: #ff4a60;
  width: 94px;
  height: 29px;
  background-color: #ffe4e8;
  border-radius: 15px;
  position: absolute;
  right: 0;
  text-align: center;
}
#time-second {
  background: #fee5df;
  color: #ed6b4f;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.fa-clock {
  color: #ff4a60;
  margin-top: 8px;
}
#clock-second {
  color: #ed6b4f;
}

/* --------Media Queries 
----------Mobile Devices-------*/
@media only screen and (max-width: 688px) {
  .box {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .box {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .courses {
    padding: 20px;
  }
}
